*, :after, :before {
    box-sizing: border-box;
    overflow-wrap: break-word;
    margin: 0;
    padding: 0;
}

body {
  overflow: hidden;
  height: 100vh;
}
main {
  overflow-y: auto;
}
.wrapper {
  display: flex;
  height: 100%;
}
@media (max-width: 500px) {
  .wrapper {
    flex-direction: column;
  }
.wrapper_inner {
  width: 90%;
  margin: 2rem auto;
}


aside {
  background: #212529;
  flex: 1 0 14%;
  padding: 2rem;
}
ul {
  list-style: none;
}
li {
  color: #fff;
}
  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
 

.center {
    align-items: center!important;
}

/*
.footer {
    padding: 1.5rem;
    background: #f6f8fa;
    color: #999;
    font-size: .85em;
    overflow-x: hidden;
    text-align: center;
}
*/
