body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0px;
}

.navbar {
  flex-basis: 15rem;
  flex-grow: 1;
  position: relative;
  outline: var(--border-thin) dashed;
  padding-top: var(--s3);
}

.content {
 flex-basis: 0;
    flex-grow: 999;
    min-width: 66%;
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
}
